.df, .dfc {
    display: flex;
}
.dfc {
    flex-direction: column;
}
.wrapper {
    padding: 0 10px;
}
.client_hat {
    height: 200px;
    background: #db565a;
    opacity: 0.5;
    padding: 20px;
    font-size: larger;

}
.button_str {
    justify-content: space-between;
}

.widgets_list {
    justify-content: space-between;

}
.widget {
    margin-bottom: 10px;
}
.group {
    align-self: center;
}